* {
	margin:0;
	padding:0;
	box-sizing:border-box;
}
#mainheader {
	margin:0;
	text-align:center;
	
}
.header-container {
	
}
#top {
	margin-bottom:0px;
	padding-bottom:0px;
	position:fixed;
	top:0;
	right:0;
	width:100%;
	background-color:white;
	z-index:100;
}
#navbar {
	float:right;
	border-left:2px solid gray;
	height:100%;
	margin-top:38px;
	padding-top:20px;
	display:none;
	width:0px;
	position:fixed;
	right:0;
	z-index:10;
	font-size:30px;
	text-align:center;
	background-color:white;
}
#symbol {
	position:absolute;
	z-index:20;
	top:50%;
	right:20px;
	text-align:right;
	transform:translateY(-50%);
	background-color:white;
	border:none;
}
#main{
	margin-left:25%;
	margin-right:25%;
	display:flex;
	flex-wrap:wrap;
	width:50%;
}
#news{
	padding-top:50px;
	padding-left:15px;
	padding-right:15px;
	text-align:center;
}